body{
    background-color: rgb(202, 66, 66);
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height:80%;

}

body form{    
    text-align: center;
    align-items: center;
    display:flex;
    flex-direction: column;
    width:30%;
    max-height:80vh;
}

body form h1{
    font-size: 20px;    
}

body form input{
    text-align: center;
    margin-bottom:5%;
    border-radius:5px;
    border-color:rgb(82, 6, 6);

}

body form button{
    margin-top:5%;
}

body #card{   
    margin-top:5%;
    max-width:60%;
    max-height:75vh;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
body #card img{
    max-width: 80%;
    max-height:80%;
}
.hidden{
    display:none;
}
